.search {
    .search__form {
        .search__form__button {
            width: 156px;
            height: 45px;
            background-color: #ffffff;
            border: 1px solid #24399B;
            border-radius: 12px;
            font-weight: bold;
            font-size: 18px;
            overflow: hidden;
            transform: translateX(62%);
            font-family: $base-font;
            font-weight: bold;
            transition: 0.3s;

            &:hover {
                background-color: #24399B;
                color: white;
                font-size: 19px;
            }
        }
    }

    button {
        width: 152px;
        height: 45px;
        border: 0.25px solid $border-main-color;
        border-radius: 12px;
        background-color: #fff;
        font-size: 15px;
        font-family: $base-font;
        font-weight: normal;
        transition: 0.3s;
    }

    &__all,
    &__active {
        margin-right: 24px;
    }

    &__inactive {
        margin-right: 178px;
    }

}

.editAccount {
    width: 1443px;
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;

    &__button {
        width: 228px;
        height: 49px;
        font-size: 18px;
        border: 1px solid #24399B;
        border-radius: 14px;
        background-color: #fff;
        font-family: $base-font;
        font-weight: bold;
        transition: 0.3s;
    }
}

.search__all:hover,
.search__active:hover,
.search__inactive:hover,
.editAccount__button:hover {
    cursor: pointer;
    background-color: #24399B;
    border-color: #24399B;
    color: white;
}