.person {
    display: grid;
    grid-template-columns: 118px 220px 298px 349px auto;
    line-height: 87px;
    border: 0.25px solid $border-main-color;
    border-radius: 8px;
    background-color: #fff;
    font-family: $base-font;
    font-weight: lighter;
    font-size: 15px;
    margin-bottom: 20px;

    .person__dot {
        position: relative;
        top: 50%;
        left: 50%;
        text-align: center;
        width: 53px;
        line-height: 57px;
        height: 53px;
        background-color: #415C27;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        font-family: $base-font;
        font-weight: lighter;
        color: #fff;
    }
}