.editPopUp {

    h1 {
        border-bottom: 1px solid $border-main-color;
        padding-bottom: 20px;
    }

    h1,
    h2,
    span {
        font-size: 15px;
        font-family: $base-font;
        font-weight: lighter;
    }

    h1,
    h2 {
        margin-bottom: 15px;
    }

    input {
        font-size: 18px;
        font-family: $base-font;
        font-weight: lighter;
    }

    .editPopUp__email__error,
    .editPopUp__name__error,
    .editPopUp__surname__error,
    .editPopUp__policy__error,
    .editPopUp__regulations__error {
        color: red;
    }

    textarea:focus,
    input:focus {
        outline: none;
    }
}