* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #EDEDED;
  display: flex;
  justify-content: center;
}
body .wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1443px;
  background-color: #EDEDED;
}

.search {
  width: 1443px;
  height: 123px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.25px solid rgba(103, 103, 103, 0.4039215686);
  border-radius: 8px;
  background-color: #FFFFFF;
}
.search .search__form {
  margin-left: 26px;
  margin-right: 280px;
  width: 403px;
  line-height: 43px;
  border: 0.25px solid rgba(103, 103, 103, 0.4039215686);
  border-radius: 12px;
}
.search .search__form .search__form__input {
  line-height: 42px;
  border: none;
  background: transparent;
  width: 150px;
  margin-left: 30px;
  font-family: "Fira Sans", sans-serif;
  font-weight: lighter;
}
.search .search__form textarea:focus,
.search .search__form input:focus {
  outline: none;
}

.search .search__form .search__form__button {
  width: 156px;
  height: 45px;
  background-color: #ffffff;
  border: 1px solid #24399B;
  border-radius: 12px;
  font-weight: bold;
  font-size: 18px;
  overflow: hidden;
  transform: translateX(62%);
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
  transition: 0.3s;
}
.search .search__form .search__form__button:hover {
  background-color: #24399B;
  color: white;
  font-size: 19px;
}
.search button {
  width: 152px;
  height: 45px;
  border: 0.25px solid rgba(103, 103, 103, 0.4039215686);
  border-radius: 12px;
  background-color: #fff;
  font-size: 15px;
  font-family: "Fira Sans", sans-serif;
  font-weight: normal;
  transition: 0.3s;
}
.search__all, .search__active {
  margin-right: 24px;
}
.search__inactive {
  margin-right: 178px;
}

.editAccount {
  width: 1443px;
  display: flex;
  justify-content: flex-end;
  margin-top: 80px;
}
.editAccount__button {
  width: 228px;
  height: 49px;
  font-size: 18px;
  border: 1px solid #24399B;
  border-radius: 14px;
  background-color: #fff;
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
  transition: 0.3s;
}

.search__all:hover,
.search__active:hover,
.search__inactive:hover,
.editAccount__button:hover {
  cursor: pointer;
  background-color: #24399B;
  border-color: #24399B;
  color: white;
}

main {
  width: 1443px;
}
main .sort {
  width: 1440px;
  display: grid;
  grid-template-columns: 220px 298px 349px auto;
  margin: 80px 0 40px 118px;
}
main .sort img {
  margin-left: 15px;
  width: 30px;
  padding: 5px;
  transform: translateY(20%);
}
main .sort img:hover {
  cursor: pointer;
}
main .sort .upside-down {
  transform: rotate(180deg);
}

.person {
  display: grid;
  grid-template-columns: 118px 220px 298px 349px auto;
  line-height: 87px;
  border: 0.25px solid rgba(103, 103, 103, 0.4039215686);
  border-radius: 8px;
  background-color: #fff;
  font-family: "Fira Sans", sans-serif;
  font-weight: lighter;
  font-size: 15px;
  margin-bottom: 20px;
}
.person .person__dot1 {
  position: relative;
  top: 50%;
  left: 50%;
  text-align: center;
  width: 53px;
  line-height: 53px;
  height: 53px;
  background-color: #415C27;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  font-family: "Fira Sans", sans-serif;
  font-weight: lighter;
  color: #fff;
}
.person .person__dot2 {
  position: relative;
  top: 50%;
  left: 50%;
  text-align: center;
  width: 53px;
  line-height: 53px;
  height: 53px;
  background-color: #2bfd01;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  font-family: "Fira Sans", sans-serif;
  font-weight: lighter;
  color: #fff;
}

.popUpWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.43);
  width: 100%;
  height: 100%;
}
.popUpWrap .editPopUp {
  position: relative;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 40px 70px 70px 30px 70px;
  row-gap: 40px;
  -moz-column-gap: 40px;
       column-gap: 40px;
  padding: 52px 50px 0 45px;
  justify-content: space-around;
  width: 1122px;
  height: 551px;
  background-color: #fff;
  border: 0.25px solid rgba(103, 103, 103, 0.4039215686);
  border-radius: 8px;
}
.popUpWrap .editPopUp__title {
  grid-column-start: 1;
  grid-column-end: 4;
}
.popUpWrap .editPopUp__phone {
  grid-column-start: 2;
  grid-column-end: 4;
}
.popUpWrap .editPopUp__info {
  margin-top: 30px;
}
.popUpWrap .editPopUp__buttons {
  grid-column-start: 2;
  grid-column-end: 4;
  position: absolute;
  right: 0;
  bottom: 10%;
}

.editPopUp h1 {
  border-bottom: 1px solid rgba(103, 103, 103, 0.4039215686);
  padding-bottom: 20px;
}
.editPopUp h1,
.editPopUp h2,
.editPopUp span {
  font-size: 15px;
  font-family: "Fira Sans", sans-serif;
  font-weight: lighter;
}
.editPopUp h1,
.editPopUp h2 {
  margin-bottom: 15px;
}
.editPopUp input {
  font-size: 18px;
  font-family: "Fira Sans", sans-serif;
  font-weight: lighter;
}
.editPopUp .editPopUp__email__error,
.editPopUp .editPopUp__name__error,
.editPopUp .editPopUp__surname__error,
.editPopUp .editPopUp__policy__error,
.editPopUp .editPopUp__regulations__error {
  color: red;
}
.editPopUp textarea:focus,
.editPopUp input:focus {
  outline: none;
}

.editPopUp__email__input,
.editPopUp__name__input,
.editPopUp__surname__input,
.editPopUp__birthdate__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(103, 103, 103, 0.4039215686);
}

.editPopUp__phone__prefix {
  width: 40px;
  border: none;
  border-bottom: 1px solid rgba(103, 103, 103, 0.4039215686);
}

.editPopUp__phone__number {
  border: none;
  border-bottom: 1px solid rgba(103, 103, 103, 0.4039215686);
  margin-left: 30px;
  width: 230px;
}

.editPopUp__buttons__cancel {
  width: 80px;
  margin-right: 70px;
  height: 38px;
  border: none;
  color: #3E69C4;
  font-size: 14px;
  font-family: "Fira Sans", sans-serif;
  font-weight: normal;
  cursor: pointer;
  transition: 0.3s;
}
.editPopUp__buttons__cancel:hover {
  font-size: 17px;
}
.editPopUp__buttons__save {
  width: 191px;
  height: 38px;
  border-radius: 14px;
  border: 1px solid rgba(103, 103, 103, 0.4039215686);
  font-size: 14px;
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s;
}
.editPopUp__buttons__save:hover {
  background-color: #293672;
  border-color: #293672;
  color: white;
  font-size: 16px;
}
.editPopUp__exit {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(40%, -40%);
  cursor: pointer;
}

.editPopUp__policy h2,
.editPopUp__marketing h2,
.editPopUp__regulations h2 {
  margin: 5px 0 0 30px;
}

.editPopUp__policy__checkbox,
.editPopUp__marketing__checkbox,
.editPopUp__regulations__checkbox {
  position: absolute;
  width: 24px;
  height: 24px;
  opacity: 0;
}

.editPopUp__policy__checkbox ~ span > img,
.editPopUp__marketing__checkbox ~ span > img,
.editPopUp__regulations__checkbox ~ span > img {
  opacity: 0;
}

.editPopUp__policy__checkbox:checked ~ span > img,
.editPopUp__marketing__checkbox:checked ~ span > img,
.editPopUp__regulations__checkbox:checked ~ span > img {
  opacity: 1;
}

.checkbox__custom {
  position: absolute;
  width: 24px;
  line-height: 24px;
  border: 0.5px solid rgba(103, 103, 103, 0.4039215686);
  border-radius: 8px;
  text-align: center;
}

.editPopUp__policy__error,
.editPopUp__regulations__error {
  margin-left: 30px;
}

.afterPopUp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 517px;
  height: 449px;
  border: 0.25px solid rgba(103, 103, 103, 0.4039215686);
  border-radius: 8px;
  background-color: #FFFFFF;
}
.afterPopUp .afterPopUp__title {
  font-family: "Fira Sans", sans-serif;
  font-weight: normal;
  font-size: 36px;
  color: #4EB100;
  margin-bottom: 100px;
}
.afterPopUp .afterPopUp__button {
  width: 315px;
  height: 57px;
  margin-left: 102px;
  border: 1px solid #7AC943;
  border-radius: 16px;
  font-family: "Fira Sans", sans-serif;
  font-weight: normal;
  font-size: 21px;
  transition: 0.3s;
}
.afterPopUp .afterPopUp__button:hover {
  cursor: pointer;
  background-color: #4EB100;
  color: white;
}

.active {
  display: none;
}

.popUpWrap .editPopUp .active {
  display: none;
}/*# sourceMappingURL=main.css.map */