* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #EAEAEA;
}
body .wrap {
  display: flex;
  position: absolute;
  justify-content: center;
  height: 830px;
  width: 634px;
  background-color: #FFFFFF;
  border: 0.5px solid #C6CEDA;
  border-radius: 11px;
}

.registration .registration__title {
  font-size: 38px;
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 77px 0 75px 0;
}
.registration .emailTitle,
.registration .passwordTitle,
.registration .checkPasswordTitle {
  font-family: "Fira Sans", sans-serif;
  font-weight: medium;
  font-size: 18px;
  margin: 35px 0 10px 0;
}

.registration .email__container,
.registration .password__container,
.registration .checkPassword__container {
  position: relative;
  width: 474px;
  height: 52px;
  border: 0.5px solid #C6CEDA;
  border-radius: 6px;
}
.registration .email__container__input,
.registration .password__container__input,
.registration .checkPassword__container__input {
  border: none;
  width: 285px;
  margin-left: 87px;
  line-height: 52px;
  font-size: 21.54px;
  background: transparent;
  font-family: "Fira Sans", sans-serif;
  font-weight: lighter;
}
.registration .email__container textarea:focus,
.registration .email__container input:focus,
.registration .password__container textarea:focus,
.registration .password__container input:focus,
.registration .checkPassword__container textarea:focus,
.registration .checkPassword__container input:focus {
  outline: none;
}
.registration .email__container ::-moz-placeholder, .registration .password__container ::-moz-placeholder, .registration .checkPassword__container ::-moz-placeholder {
  color: #989898;
  font-family: "Fira Sans", sans-serif;
  font-weight: lighter;
}
.registration .email__container ::placeholder,
.registration .password__container ::placeholder,
.registration .checkPassword__container ::placeholder {
  color: #989898;
  font-family: "Fira Sans", sans-serif;
  font-weight: lighter;
}
.registration .email__container img,
.registration .password__container img,
.registration .checkPassword__container img {
  position: absolute;
  top: 50%;
  left: 22px;
  transform: translateY(-50%);
}
.registration .email__container .email__container__icon,
.registration .password__container .email__container__icon,
.registration .checkPassword__container .email__container__icon {
  left: 17px;
}

.goToLoginSite__container {
  position: absolute;
  top: 65%;
  text-align: center;
  margin-top: 40px;
}

.registration__btn {
  width: 474px;
  height: 68px;
  font-size: 29px;
  margin-top: 178px;
  font-family: "Fira Sans", sans-serif;
  font-weight: lighter;
  color: #233F81;
  border: 1px solid #24399B;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0);
  transition: 0.3s;
}
.registration__btn:hover {
  cursor: pointer;
  background-color: #233F81;
  color: white;
}

.goToLoginSite__container__btn {
  background-color: #fff;
  font-family: "Fira Sans", sans-serif;
  font-weight: lighter;
  border: 0.5px solid #C6CEDA;
  padding: 5px;
  border-radius: 6px;
}
.goToLoginSite__container__btn:hover {
  cursor: pointer;
  border: 1px solid #000000;
}

.registration .email__container__error,
.registration .password__container__error,
.registration .checkPassword__container__error {
  display: block;
  position: absolute;
  font-size: 15px;
  font-family: "Fira Sans", sans-serif;
  font-weight: lighter;
  color: #FF1D25;
  margin: 5px 0 0 87px;
}

body .wrap {
  width: 634px;
  height: 664px;
}

.registration__btn {
  margin-top: 71px;
}

.registration .registration__title {
  font-size: 38px;
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 77px 0 55px 0;
}/*# sourceMappingURL=loginWindowChange.css.map */