body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #EAEAEA;

    .wrap {
        display: flex;
        position: absolute;
        justify-content: center;
        height: 830px;
        width: 634px;
        background-color: #FFFFFF;
        border: 0.5px solid #C6CEDA;
        border-radius: 11px;
    }
}