.registration {
    &__btn {
        width: 474px;
        height: 68px;
        font-size: 29px;
        margin-top: 128px;
        font-family: $base-font;
        font-weight: lighter;
        color: #233F81;
        border: 1px solid #24399B;
        border-radius: 7px;
        background-color: #ffffff00;
        transition: 0.3s;

        &:hover {
            cursor: pointer;
            background-color: #233F81;
            color: white;
        }
    }

    .goToLoginSite__container {
        &__btn {
            background-color: #fff;
            font-family: $base-font;
            font-weight: lighter;
            border: 0.5px solid #C6CEDA;
            padding: 5px;
            border-radius: 6px;

            &:hover {
                cursor: pointer;
                border: 1px solid #000000;
            }
        }
    }
}