.registration {
    &__btn {
        width: 474px;
        height: 68px;
        font-size: 29px;
        font-family: 'Fira Sans', sans-serif;
        font-weight: lighter;
        color: #233F81;
        border: 1px solid #24399B;
        border-radius: 7px;
        background-color: #ffffff00;
    }
}